nav{
    background-color: seagreen;
    height: 4em;
    display: flex;
    justify-content: center;
    align-content: space-between; 
}

nav li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}



